/*  ============================================================================
    Body
 */

:root {
     --lite-gray: #f2f2f7;
     --dark-gray: #8e8e93;
     --lite-high: #fcf3cf;
     --dark-high: rgba(253, 205, 44, 0.65);
     --lite-blue: rgba(10, 132, 255, 0.20);

     --dark-base: #32325d;
     --lite-base: #ffffff;
     --dark-font: #ffffff;
     --lite-font: #000000;

     --default-base: var(--lite-base);
     --default-font: var(--lite-font);

     --green: #24b47e;
     --blue: #87aefd;
     --purple: #6772e5;
 }

@import url('https://rsms.me/inter/inter.css');
html
{
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
}
@supports (font-variation-settings: normal)
{
    html
    {
        font-family: 'Inter var', sans-serif;
    }
}
html
{
    margin: 0 auto;
    height: 100%;
}
body
{
    padding: 2em 0;
    margin: 0;
    background: var(--default-base);
    color: var(--default-font);
    line-height: 1.8;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
pre
{
    padding: 1em 1em;
    border-radius: 5px;
    line-height: 1.8;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
}
code
{
    font-family: "Fira Mono", monospace;
}
p > code
{
    background: linear-gradient(to right,#fce4ed,#ffe8cc);
    /* background: linear-gradient(to right,#83cff3,#ebf8e1); */
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}
mark
{
    background: var(--dark-high);
}
blockquote
{
    border-left: 2px solid var(--dark-gray);
    color: var(--dark-gray);
    padding: 0 1em;
    margin-left: 0;
    font-style: italic;
}

/*  ============================================================================
    Cell
 */
.cell
{
    box-sizing: border-box;
    width: 100%;
    max-width: 768px;
    padding: 0 2em;
    margin: 0 auto;
    outline: none;
    font-size: 1em;
}
@media only screen and (max-width: 768px) {
    .cell
    {
        font-size: 18px;
        font-weight: 500;
        padding: 0em 1em;
    }
}
.cell:not(:last-child)
{
    margin-bottom: 1em;
}
.cell:hover
{
    box-shadow: inset 3px 0 0 0 #0a84ff;
}
.cell:focus-within
{
    box-shadow: inset 3px 0 0 0 #30d158;
}


/*  ============================================================================
    Cell Editor
 */

.cell-editor
{
    /* display is explicitly set for displayEditor */
    display: block;
    padding: 0.5em 0.75em;
    width:100%;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    background-color: var(--default-base);
    color: var(--default-font);
    line-height: 1.8;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}
.cell-editor: focus
{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
.cell-editor .cm-comment
{
    font-family: 'Fira Mono', monospace;
}
.cell-editor .cm-variable
{
    font-family: 'Fira Mono', monospace;
}

/*  ============================================================================
    Cell Render
 */
.cell-render
{
    /* display is explicitly set for displayEditor */
    display: none;
    padding: 0.5em 1em;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.2s;
    line-height: 1.8;
}
.cell-render ::selection {
    background-color: var(--dark-high);
}
.cell-render hr {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid var(--lite-gray);
}
.cell-render img {
    max-width: 100%;
}
.cell-render a
{
    color: #0070c9;
    transition: color .5s ease;
}
.cell-render h1
{
    font-size: 2.0em;
}
.cell-render h2
{
    font-size: 1.50em;
}
.cell-render h3
{
    font-size: 1.25em;
}
.cell-render a:hover {
    opacity: .7;
}
.cell-render h1 > a
{
    color: #2d1e14;
    transition: color .5s ease;
    text-decoration: none;
}
.cell-render ul
{
    margin: 0em;
    padding: 0em;
}
.cell-render > .hljs {
    padding: 0em;
}
.cell-render tr:nth-child(odd) td {
    background: #eee;
}
.cell-render td, .cell-render th {
    padding: 0.5em;
}
.cell-render table {
    border-collapse: collapse;
    margin: 1em auto;
    min-width: 50%;
}
.cell-render thead {
    border-top: 1px solid #bfbfbf;
}
.cell-render tbody {
    border-bottom: 1px solid #bfbfbf;
}

.cell-render > *
{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

/*  ============================================================================
    CodeMirror
 */
.CodeMirror
{
    height: auto;
}
.CodeMirror-cursor
{
    border-left: 1px solid var(--default-font);
}
.cm-s-default .cm-atom
{
    color: #10a778;
}
.cm-s-default .cm-keyword
{
    color: #c30771;
}
.cm-s-default .cm-comment
{
    color: #008ec4;
}
.cm-s-default .cm-number
{
    color: #20a5ba;
}
.cm-s-default .cm-header
{
    color: var(--default-font);
}

/*  ============================================================================
    Highlight JS
 */
.hljs {
    display: block;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: var(--lite-gray);
}
.hljs::-webkit-scrollbar {
    display: none;
}
.hljs-comment, .hljs-quote {
    color: #a0a1a7;
}

.hljs-doctag, .hljs-formula, .hljs-keyword {
    color: #a626a4
}

.hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e45649
}

.hljs-literal {
    color: #0184bb
}

.hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string {
    color: #50a14f
}

.hljs-built_in, .hljs-class .hljs-title {
    color: #c18401
}

.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable {
    color: #986801
}

.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title {
    color: #4078f2
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-link {
    text-decoration: underline
}

div.hljs {
    padding: 2em;
    position: relative;
}

div.hljs::before
{
    z-index: 10;
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: 300;
    background-color: #ccc;
    padding: 5px 5px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
div.hljs:hover::before {
    opacity: 1;
}
div.hljs::before
{
    content: attr(lang);
}
.task-list-item
{
    /* list-style-type: none; */
}
.footnotes-sep
{
    border: 1px solid lightgray;
}
pre.hljs
{
    margin: 0em;
    min-height: 3.2em;
}
.footer
{
    display: inline-block;
    width: 100%;
    bottom: 0px;
}
.footer-menu
{
}
.footer-icon
{
    position: fixed;
    margin: 16px 16px;
    bottom: 0;
    z-index: 100;
}
.icon
{
    height: 32px;
    fill: #AEAEB2;
    z-index: 100;
}
.icon.active
{
    fill: #0a84ff;
}
.icon:hover
{
    cursor: pointer;
}
.icon:not(:last-child)
{
    margin-right: 4px;
}

/*  ============================================================================
    Menu
 */
.menu
{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    outline: none;
    margin: 16px 16px;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0 0 0 1px rgba(99,114,130,0.16), 0 2px 16px rgba(27, 39, 51,0.08);
    min-width: 300px;
    max-height: calc(100vh - 96px);
    z-index: -1;
    overflow: scroll;
    scrollbar-width: none;
    background-color: var(--lite-base);
    color: var(--lite-font);
    transition: opacity 0.2s ease-out;

}
.menu-wrap
{
    position: fixed;
    bottom: 64px;
}
@media only screen and (max-width: 768px) {
    .menu {
        width: 100vw;
        height: 100%;
        margin: 0;
        top: 0px;
        box-shadow: none;
    }
    .menu-wrap {
        position: static;
    }
}
.menu::-webkit-scrollbar {
    display: none;
}
.menu > *
{
    opacity: 0;
    z-index: -1;
    display: none;
    user-select: none;
}
.menu.active
{
    opacity: 1;
    z-index: 20;
}
.menu.active > *
{
    opacity: 1;
    z-index: 15;
    display: block;
}
.menu p, .menu blockquote
{
    margin: 0;
    display: inline;
}
.menu .button
{
    width: 100%;
    height: 40px;
    outline: none;
    background-color: white;
    border: 1px solid #f1f0f0;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
}
.button-hidden {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.menu .button-hidden {
    width: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.menu .button:hover
{
    border: 1px solid #C7C7CC;
}
.menu .button:active
{
    background-color: var(--lite-gray);
    transform: translateY(2px);
}
.menu .button .button-text
{
    position: relative;
    bottom: 5px;
}
.menu .button .button-icon
{
    position: relative;
    bottom: -1px;
}
.menu-file
{
    height: 100vh;
}
.menu-head
{
    margin: 5px 16px;
    margin-top: 10px;
    font-size: 1.5em;

}
.menu-head img
{
    max-height: 1.0em;
    top: 5px;
    position: relative;
}
.menu-list
{
    padding: 0px;
    margin: 5px 0px;
}

.menu-list li
{
    list-style-type: none;
    line-height: normal;
    padding: 8px 16px;
    position: relative;
}

.menu-list li:hover
{
    background-color: #f2f2f7;
}

.menu-list .list-line hr
{
    margin: 0;
    padding: 0px 8px;
    border: 0;
    border-top: 1px solid #f2f2f7;
}
.menu-list .list-line:hover
{
    background-color: var(--lite-base);
}
.menu-list .list-right
{
    float: right;
}
.button-div {
    display: flex;
    align-items: center;
}

.tree-item
{
    list-style-type: none;
}

.menu-search {
    padding: 8px 16px;
    position: relative;
}

.search-bar {
    border-radius: 5px;
    width: 100%;
    outline: none;
    line-height: 1.8;
    font-size: 1em;
    border: none;
    padding: 0.3em;
    padding-left: 2em;
    box-sizing: border-box;
    font-color: var(--dark-gray);
    background-color: var(--lite-gray);

}

.input-icon {
    position: absolute;
    left: 1.5em;
    fill: gray;
    top: 0.3em;
    color: var(--dark-gray);
    z-index: 2;
}

.tree-item {
    padding: 8px 16px 8px 40px;
    background-image: url(img/file.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-y: center;
    background-position-x: 16px;
}

.tree-item.active
{
    color: black;
    background-color: var(--lite-blue) !important;
}

.tree-item:hover {
    background-color: var(--lite-gray);
}

.tree-list {
    padding: 0;
}

.float-left
{
    float: left;
}
.float-rght
{
    float: right;
}

.icon-load
{
    background-image: url(img/icons/download.svg);
    background-position-y: 10px;
    width: 28px !important;
    height: 36px !important;
}

button.icon
{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    outline: none;
}
button.icon:active
{
    transform: translateY(2px);
}
